<div id="title">
  <h1> {{title}} </h1>
  <h2> {{subtitle}} </h2>
  <p> {{email}} </p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ut nobis pariatur sint dolor magnam consequatur quidem nemo illo eveniet praesentium, voluptatibus inventore fugiat cupiditate distinctio quam tenetur nostrum accusamus.
  Labore omnis quas ex, qui dicta cumque laboriosam, expedita in dolorem itaque, velit tempore deleniti quo ipsum atque vitae libero est tempora commodi recusandae aperiam eius repudiandae voluptatem eos! Cupiditate.
  Quas, molestias. Aut nihil dolor vitae laboriosam beatae dignissimos voluptates tempore error numquam necessitatibus? Voluptas iure ex repudiandae doloremque adipisci, ducimus illum et? A nesciunt totam sunt eaque. Consequuntur, odit.
  Maiores, aliquid omnis. Veniam dicta ratione ipsum corporis eos, fuga sequi non, earum aperiam ad cupiditate reiciendis placeat commodi exercitationem repellat itaque accusamus eum laborum labore! Dolorum incidunt corrupti illum!
  Aliquid voluptas labore laboriosam iure fuga natus consequatur deserunt obcaecati nostrum architecto provident iste voluptatibus a quo molestias, vel rerum! Officia qui doloribus a inventore et quibusdam temporibus unde impedit.</p>
</article>
